$mainGradient: linear-gradient(90deg, #c0b7e8 -15.79%, #8176af 100%);
$borderGradient: linear-gradient(#343045, #c0b7e8, #8176af, #343045) 1;
$borderTopBottomGradient: linear-gradient(to right, #343045, #c0b7e8, #8176af, #343045) 1;
$backgroundColor: #302c42;
$bodyColor: #fff;
